
canvas {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}

table, tr, th {
    border: 2px solid black;
}

#game {
    display: flex;
    max-height: 100vh;
}

#gameCanvas {
    flex: 1;
    order: 2;
    max-width: 640;
    min-width: 640;
    max-height: 480;
    min-height: 480;
    object-fit: contain;
}

#extras {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    max-width: 30%;
}

#chatArea  {
    flex: 1;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    resize: none;
}

#chatInput {
    width: 100%;
}

#scoreboard {
    flex: 1;
    width: 200px;
    order: 3;
}
